*.pyc
*.swp
.idea
.DS_Store
*~
.project
.settings
.tags


out/Default/.ninja_deps
out/Default/.ninja_log
out/Default/build.ninja
out/Default/build.ninja.d
out/Default/clang_x64/
out/Default/clang_x86/
out/Default/gen/
out/Default/gradle/
out/Default/lib.unstripped/
out/Default/libbase.cr.so
out/Default/libbase.cr.so.TOC
out/Default/obj/
out/Default/toolchain.ninja
